@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "DM Sans", sans-serif;
	font-weight: 300;
}

body {
	background-color: rgb(241 245 249);
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}
